.normalPass{
    background-color: #fcd873;
    font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  letter-spacing:-0.6px;
  word-spacing:1rem;
  color: #1b0c01;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  width: 50%;
  border-radius: 2rem;
  text-align: center;
  height: 22rem;
  }
  .link{
    font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  letter-spacing:-0.6px;
  word-spacing:1rem;
  color: #FF7812;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }
  
  .goldenPass{
    background-color: #fcd873;
    font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  letter-spacing:-0.6px;
  word-spacing:1rem;
  color: #1b0c01;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  width:100%;
  border-radius: 2rem;
  text-align: center;
  height: 100%;
  }
  
  .father{
    display: grid;
    grid-column: 2;
  }